.fact-container {
  width: 400px;
  align-self: center;
}

h2 {
  color: #eee;
  margin: 1em;
}

button {
  background-color: #eee;
  padding: 1em 1em;
  cursor: pointer;
  border: none;
  border-radius: 10px;
}
